# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Environment & Secrets
.env
.env.local
.env.*.local
*.env
.env.production
.env.development
secrets.json
credentials.json
config.local.js

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
.cache/
